# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_USER=hicham
POSTGRES_PASSWORD=12345
POSTGRES_DB=prisma
DATABASE_URL="postgresql://hicham:12345@hostname:5434/prisma?schema=public"
GOOGLE_CLIENT_ID=356038985906-idh89gbf3apeq92su1q7vuaorcfan0dm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://hostname:3000/api/auth/google/callback
FORTYTWO_CLIENT_ID=e5cf033ce0aa770779275fc3568f42601bea2641e266b31b8e71e432bd4c90a0
FORTYTWO_CLIENT_SECRET=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
FORTYTWO_CALLBACK_URL=http://hostname:3000/api/auth/42/callback
FRONTEND_URL=http://hostname:5000/
FRONTEND_2FA_URL=http://hostname:5000/tfa
JWT_SECRET=eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmF
TFA_JWT_SECRET=eyHJFJKjdkdgjdkhkdhjlGGfdGggsJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmF
